@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(50%);
  }
  to{
    opacity: 1;
    transform: translateY(0);

  }
}
@keyframes nav {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  overflow: hidden;
  width: 100%;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  z-index: 3;
  &-mobile{
    position: fixed;
    top: 0;right: 0;
    bottom: 0;
    width: 320px;
    background-color: #fff;
    padding-top: 70px;
    z-index: 2;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.3s;
  }
  &-mobile__icon{
    position: absolute;
    top: 0;right: 0;
    padding: 30px;
    font-size: 26px;
    color: #222;
  }
  &-mobile--nav{
    padding: 15px;
    a{
      color: #222;
    }
  }
  &-left {
    display: flex;
    align-items: center;
  }
  
  &-logo {
    margin: 6px 35px;
    transform: translateX(20px);
    padding: 10px;
    margin-left: 25px;
    background-color: #eee;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    border-radius: 100rem ;
    svg{
      border-radius: 50%;
    }
    svg:hover{
      background-color: #f65e39;
    }
  }
  
  &-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 45px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  &-icon{
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 4px;
    color: white;
    background-color: #767676;
  }
  &-ip {
    display: flex;
    align-items: center;
    i{
      margin: 15px;
      color: #767676;
    }
  }
  
  &-input {
    outline: none;
    border: none;
    padding: 10px 70px 10px 0;
    font-size: 14px;
  }
  &-calendar,
  &-user{
    font-size: 14px;
    color: #4d4c4c;
    font-weight: 500;
    border-left:1px solid #ccc ;
    padding: 10px 20px;
    i{
      margin-right: 6px;
    }
  }
  &-right{
    display: flex;
    align-items: center;
  }
  &-nav{
    display: none;
    color: #222;
  }
  &-list{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

  }
  &-item{
    position: relative;
    padding: 30px 15px;
    a{
      color: #222;
      transition: color linear 0.2s;
      
      &:hover{
        color: #f65e39;
      }
    }
  }
  &-item:nth-child(2)::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #f65e39;
    border-radius: 4px;
    top: 20px;
    right: 5px;
  }
  
  &-vnd{
    display: flex;
    align-items: center;
    margin-right: 45px;
    background-color: #f6f6f6;
    padding: 6px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    &__img,
    &__desc{
      margin-right: 6px;
    }
    i{
      margin-top: -8px;
      font-size: 16px;
    }
  }
  &-vnd:hover .focus{
    display: inline-flex;
  }
}
.focus{
  margin-top: 15px;
  display: flex;
  position: absolute;
  right: 0;
  top: 100%;
  width: 470px;
  background-color: #fff;
  padding: 6px 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  border: 1px solid #d6d6d6;
  display: none;
  animation: fadeIn linear 0.2s;
  z-index: 1;
  &::before{
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: calc( 100% - 300px );
    height: 20px;
    background-color: transparent;
    

  }
  &-left,
  &-right{
    width: 50%;
  }
  &-left{
    border-right: 1px solid #ccc;
  }
  &-item{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &:first-child{
      margin-top: 10px;
    }
    i{
      font-size: 8px;
      margin-left: 10px;
    }
  }
  &-desc{
    margin-left: 10px;
    color: #222;
    &:hover{
      color: #f65e39;
      cursor: pointer;
    }
  }
  &-right{
    margin-left: 20px;
  }
  &-link__bold{
    font-size: 18px;
    font-weight: 500;
    color: #222;
    margin-right: 10px;
  }
  &-link{
    color: #222;
    font-size: 16px;
  }
  &-hover:hover{
    color: #f65e39;
    cursor: pointer;
  }
}
.heading{
  margin-top: 50px;
  font-size: 28px;
  font-weight: 700;
}
.desc{
  color: #555;
  margin-top: 25px;
  margin-bottom: 16px;
  font-size: 16px;
}
.text{
  display: block;
  margin-bottom: 50px;
  font-size: 16px;
  color: #555;

  a{
    color: #222;
    text-decoration: revert;
    transition: color 0.1s linear;
  }
  a:hover{
    color: #f65e39;
  }
}
.banner{
  padding-top: 85px;
  color: #222;
  &-img{
    margin-top: 45px;
    border-radius: 20px;
  }
  
}
.content{
  &-list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 75px;
  }
  &-item{
    width: calc(20% - 10px) ;
    position: relative;
  }
  &-left{
    position: absolute;
    left: 0;  
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    padding: 20px 25px;
    background-color: rgba($color: #fff, $alpha: 0.2);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
  }
  &-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%,-50%);
    font-size: 20px;
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);

    &:hover{
      color: #f65e39;
    }
  }
  &-image{
    border-radius: 4px;
    overflow: hidden;
  }
  &-img{
    height: 310px;
    object-fit: cover;
    border-radius: 4px;
    transition: all linear 0.4s;
  }
  &-img:hover{
    transform: scale(1.1);
  }
  &-info{
    position: absolute;
    left: 26px;
    bottom: 0;
    color: white;
    margin-bottom:25px;
  }
  &-heading{
    font-size: 26px;
    font-weight: bold;
    margin-bottom:15px;

  }
  &-desc{
    font-size: 16px;
    font-weight: 500;
  }
}
.slick{
  margin-bottom: 70px;
  &-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-bonus{
    font-size: 16px;
    color: #f65e39;
  }
  &-bonus__mobile{
    display: none;
    font-size: 16px;
    color: #f65e39;
  }
  &-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item{
    width: calc( 33.33% - 14px)
  }
  &-img{
    border-radius: 16px;
  }
}
.slider{
  margin-bottom: 100px;
  &-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-item{
    width: calc( 25% - 12px);
    position: relative;
    
  }
  &-img{
    border-radius: 3px;
  }
  &-desc{
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666;
    text-transform: uppercase;
  }
  &-text{
    line-height: 1.6;
    font-size: 15px;
    font-weight: 500;
    transition: all linear 0.2s;
  }
  &-item--active:hover .slider-text{
    color: #f65e39;
  }
  &-left{
    position: absolute;
    left: 0;  
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    padding: 20px 25px;
    background-color: rgba($color: #fff, $alpha: 0.2);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
  }
  &-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%,-50%);
    font-size: 20px;
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);

    &:hover{
      color: #f65e39;
    }
  }
}
.post{
  margin-bottom: 70px;
  &-image{
    overflow: hidden;
  }
  &-img{
    background-image: url("https://danghoang99.github.io/Luxstay/assets/image/explore.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 230px;
    transition: all linear 0.3s;
    &:hover{
      transform: scale(1.1);
    }
    
  }
  &-img--2{
    background-image: url("https://danghoang99.github.io/Luxstay/assets/image/explore2.jpg");
    
  }
  &-img--3{
    background-image: url("https://danghoang99.github.io/Luxstay/assets/image/explore3.jpg");

  }
  &-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item{
    width: calc( 33.33% - 14px);
    position: relative;
    border-radius: 2px;
  }
  &-header{
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 6px 25px;
    color: #fff;font-size: 12px;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 20px;
  }
  &-title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
  }
  &-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 20px;
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    z-index: 1;
    &:hover{
      color: #f65e39;
    }
  }
  &-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 20px 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    z-index: 1;
  }
}
.instruct{
  margin-bottom: 70px;
  &-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item{
    border-radius: 2px;
    overflow: hidden;
    width: calc(20% - 12px);
  }
}
.footer1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  &-info,
  &-phone{
    width: calc(50% - 5px);
  }
  &-logo{
    width: 350px;
    margin-bottom: 15px;
  }
  &-heading{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  &-desc{
    margin-bottom: 75px;
    font-size: 15px;
    line-height: 1.6;
  }
  &-apps{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-image{
    display: flex;
   flex-direction: column;
  }
  &-img{
    margin-top: 30px;
  }
  &-gallery{
    margin-top: 30px;
  }
}
.footer2{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  &-div2__heading{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &-div1,
  &-content,
  &-download{
    width: calc(20% - 15px);
  }
  &-logo{
    width: 175px;
    margin-bottom: 20px;
  }
  &-info{
    display: flex;
    align-items: center;
    &__heading{
      font-weight: bold;
      font-size: 14px;
      line-height: 1.6;
    }
  }
  &-info__link,
  &-item a{
    color: #222;
    font-size: 14px;
    display: block;
    line-height: 1.6;
    transition: all linear 0.2s;
    
  }
  &-link{
    margin-left: 10px;
  }
  &-item{
    padding: 5px 0;
    &:hover a{
      color: #f65e39;
      cursor: pointer;
    }
  }
  &-apps{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
  }
  &-qr__code{
    border:1px solid #ccc;
  }
  &-qr,
  &-lux{
    width: calc(50% - 15px);
  }
  &-img{
    margin-bottom: 20px;
  }

}
.widget{
  margin-bottom: 55px;
  &-list{
    display: flex;
    margin-left: 260px;
  }
  &-item{
    display: flex;
    flex-direction: column;
  }
  &-item:nth-child(2){
    margin-left: 230px;
  }
  &-item:nth-child(3){
    margin-left: 90px;
  }
  &-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    &__item:first-child{
      margin-right: 20px;
    }
    &__icon:not(:first-child){
      margin-left: 20px;
    }
  }
}
.footer-bottom{
  display: flex;
  justify-content: center;
  color: #999;
  border-top: 1px solid #eee;
  font-size: 14px;
  padding: 30px 0;
  &__info{
    text-align: center;
    max-width: 1220px;
  }
  &__desc:not(:last-child){
    margin-bottom: 14px;
  }
}
.overlay{
  position: fixed;
  top: 0;left: 0;right: 0;bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: none;
  animation: nav linear 0.4s;
}
.nav-input:checked ~ .overlay{
  display: block;
}
.nav-input:checked ~ .header-mobile{
  transform: translateX(0);
  opacity: 1;
}

/* Tablet: width >= 740px and width < 1024px */
@media (max-width: 1023px) {
    .header{
      justify-content: space-around;
      
      &-nav{
        display: inline-block;
        padding: 30px;
        margin-left: 10px;
      }
      &-list{
        display: none;
      }
      &-vnd{
        display: none;
      }
      &-input{
        padding: 10px 10px 10px 0;
      }
      &-search{
        width: 560px;
      }
    }
    .content{
      &-list{
        overflow-x: auto;
        &::-webkit-scrollbar{
          display: none;
        }
      }
      &-item{
        width: 30%;
        flex-shrink: 0;
      }
      &-item:not(:first-child){
        margin-left: 12px;

      }
      &-right{
        display: none;
      }
      &-left{
        display: none;
      }
    }
    .slider{
      margin-bottom: 20px;
      &-list{
        overflow-x: auto;
        &::-webkit-scrollbar{
          display: none;
        }
      }
      &-item{
        width: 40%;
        flex-shrink: 0;
        margin-bottom: 50px;
        
      }
      &-item:not(:first-child){
        margin-left: 12px;

      }
      &-right,
      &-left{
        display: none;
      }
      
    }
    .post{
      &-right{
        display: none;
      }
      &-left{
        display: none;
      }
      &-list{
        flex-wrap: wrap;
      }
      &-item{
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .instruct{
      &-list{
        overflow-x: auto;
        &::-webkit-scrollbar{
          display: none;
        }
      }
      &-item{
        width: 30%;
        flex-shrink: 0;
      }
      &-item:not(:first-child){
        margin-left: 12px;
      }
    }
    .footer1{
      &-qr{
        width: 100px;
      }
      &-logo{
        width: 300px;
      }
      &-heading{
        font-size: 22px;
        margin-bottom: 10px;
      }
      &-desc{
        margin-bottom: 0;
      }
      &-img{
        margin-top: 16px;
        width: 100px;
      }
      &-gallery{
        width: 100px;
      }
    }
    .footer2{
      
      &-logo{
        width: 120px;
        margin-bottom: 10px;
      }
      &-div2__heading{
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.6;
      }
      &-info__link{
        font-size: 10px;
      }
    }
    .widget{
      &-list{
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      &-item{
        margin-bottom: 15px;
      }
      &-item:nth-child(2){
        margin-left: 0;
      }
      &-item:nth-child(3){
        margin-left: 0;
      }
    }
    .footer-bottom{
      padding: 12px 0;
      &__info{
        max-width: 600px;
        line-height: 1.6;
      }
      &__desc:not(:last-child){
        margin-bottom: 0;
      }
    }
}
@media (min-width:1024px) and (max-width:1336px){
  .header{
    &-search{
      width: 400px;
    }
    &-calendar,
    &-user{
      display: none;
    }
  }
  .content{
    &-right{
      transform: translate(25%, -50%);
    }
    &-left{
      transform: translate(-25%, -20%);
    }
  }
  .slider{
    &-right{
      transform: translate(25%, -75%);
    }
    &-left{
      transform: translate(-25%, -75%);
    }
  }
  .post{
    &-right{
      transform: translate(25%, -50%);
    }
    &-left{
      transform: translate(-25%, -50%);
    }
  }
  .footer1-gallery{
    width: 144px;
    margin-left: 6px;
  }
  
  .footer2-div2__heading{
    line-height: 1.6;
  }
  .widget-item:first-child{
    margin-left: -60px;
  }
  .footer-bottom__desc:not(:last-child) {
    margin-bottom: 0;
  }
  .footer-bottom__desc{
    line-height: 1.6;
  }
  .footer-bottom__info{
    max-width: 900px;
  }
}
//mobile
@media (max-width: 739px){
  .header{
    &-logo{
      margin: 6px 30px;
      margin-left: 6px;
    }
    &-calendar,
    &-user,
    &-icon{
      display: none;
    }
    
    &-search{
      width: 200px;
    }
    &-input{
      width: 105px;
    }
    &-nav{
      padding: 10px;
      font-size: 20px;
      margin-left: 10px;
    }
  }
  .banner{
    padding-top: 50px;
  }
  .heading{
    margin-top: 14px;
    font-size: 20px;
  }
  .desc{
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
  }
  .text{
    margin-bottom: 20px;
    font-size: 14px;
  }
  .content{
    &-item{
      width: calc(72% - 4px);
      cursor: pointer;
    }
    &-item:nth-child(2){
      display: none;

    }
    &-right,
    &-left{
      padding: 10px 15px;
    }
  }
  .slick{
    &-list{
      flex-direction: column;
    }
    &-item{
      width: 100%;
      margin-bottom: 10px;
    }
    &-bonus{
      display: none;
    }
    &-bonus__mobile{
      display: block;
    }
    
  }
  .slider{
    &-right,
    &-left{
      display: none;
    }
    &-item{
      width: 80%;
    }
  }
  .post{
    margin-bottom: 25px;
    &-right,
    &-left{
      display: none;
    }
    &-list{
      flex-direction: column;
    }
    &-item{
      width: 100%;
      margin-bottom: 10px;
      border-radius: 4px;
      overflow: hidden;
    }
  }
  .instruct{
    margin-bottom: 25px;
    &-list{
      flex-direction: column;

    }
    &-item{
      width: 100%;
      margin-bottom: 12px;
      &:not(:first-child){
        margin-left: unset;
        
      }
    }
  }
  .footer1{
    margin-bottom: 25px;
    flex-direction: column;
    &-logo{
      width: 270px;
    }
    &-info{
      margin-bottom: 25px;
    }
    &-info,
    &-phone{
      width: 100%;
    }
    &-heading{
      font-size: 20px;
      line-height: 1.6;
    }
    &-img{
      margin-top: 14px;
    }
  }
  .footer2{
    flex-direction: column;
    &-logo{
      width: 160px;
    }
    &-content{
      display: none;
    }
    &-div1{
      width: 100%;
    }
    &-download{
      display: none;
    }
    &-info__link{
      font-size: 14px;
    }
    &-info__headinh{
      font-size: 16px;
    }
  }
  .footer-bottom{
    &__info{
      max-width: 340px;
    }
    &__desc{
      margin-bottom: 4px;
    }
  }
}
@media (max-width:320px){
  .header{
    &-search{
      width: 155px;
    }
  }
}
/*# sourceMappingURL=style.scss.map */
